@charset "UTF-8";

black = #131313
bg-grey = #EBEBEB
stroke-grey = #DADADA

light-grey = #464646

pink = #C35656
free = pink

wippy = #48AFB5
brand-color = wippy

red = darken(red, 25%)

yellow = #EFB80E

clearfix()
  &:before, &:after
    content: ' '
    display: table
  &:after
    clear: both
  &
    *zoom: 1

*
  box-sizing: border-box
  font-family: 'Raleway', sans-serif
  color: black
  transition: all 100ms ease

a
  color: brand-color
  text-decoration: none
  &:hover
    color: lighten(brand-color, 10%)
  
body
  background: url('../img/bg.jpg') center center fixed
  background-size: cover
  +below(600px)
    background-position: left

section
  clear: none

#front-page article .product-image  
  display: none

.arrow-container
  img
    display: none

+below(800px)
  #front-page .product
    display: none
  #front-page article .product-image  
    display: block
    position: absolute
    bottom: -20px
    right: 0
    z-index: 50
    width: 320px
  .arrow-container
    img
      display: block

#payment-page
  label[for="cc-expiration-date"]
    margin-top: 1.4em //hack
form
  h2
    color: brand-color
    text-transform: uppercase
    margin: 0.25em 0 
  h3
    margin: 0.75em 0  0.5em 0
  h5
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 1px
  input[type=text]
    border: none
    border: 1px solid stroke-grey
    border: none
    border-radius: 3px
    width: 100%
    padding: 0.75em 1em
    display: block
    background-color: #E5E5E5
  label
    font-size: 0.85em
    margin-bottom: 0.5em
    display: block
    margin-top: 1em
  > div
    padding-right: 1em !important
    +below(600px)
      padding-right: 0em !important
  .error
    border: 1px solid red !important
  .error-msg
    font-size: 0.8em
    background-color: red
    border-radius: 3px
    color: white
    width: 100%
    padding: 0.5em 1em
    margin-bottom: 0.5em
    span
      color: white

h2.h2-uppercase
  @extends form h2

#front-page aside 
  .arrow-container
    padding-right: 0 !important
  .button
    margin: 0.5em 0
    width: 100%
  .checkbox-in-label
    margin: 0.5em 0
    span
      font-size: 0.95em
#payment-page, #delivery-page
  section, article
    background-color: white
  article
    padding: 0 1em 0 1.5em
    border-right: 1px solid stroke-grey
  aside
    background-color: white
    section 
      padding: 0 1em 1em 1em
      border-bottom: 1px solid stroke-grey
      &:last-child
        border: none
  > footer
    margin-top: 1em

.content-container
  background-color: white
  clearfix()

#delivery-page
  article
    padding-top: 1em
.enter-email
  padding: 1em 
  background-color: white
  min-height: 325px
  +below(800px)
    min-height: 0

.what-you-get
  padding: 1em

.product
  img
    width: 110%
    margin-top: 10px
    margin-left: -40px

.cvc-container
  position: relative
.cvc-help
  height: 20px
  width: 20px
  display: block
  background: url('../img/cvc-help.png')
  background-size: 20px 20px
  position: absolute
  right: 0.5em
  bottom: 0.75em
  opacity: 0.5
  +below(600px)
    bottom: 0.5em
  img
    display: none
    z-index: 120
    height: 100px
    width: 100px 
    position: absolute
    right: 0
  &:hover
    opacity: 1
    img
      display: block
.logo
  margin: 0.25em 0 0.10em 0
  display: block
  img
    width: 90px
  a
    overflow: hidden
    span
      position: absolute
      left: -999px
    

// container styling
.header-container
  background-color: white
  width: 100%
  clearfix()
  margin-bottom: 1em
  position: relative
  z-index: 300
  header
    grid(100%, auto)
    max-width: 960px
    float: none

// type 
.main-container
  > section
    > aside
      background-color: rgba(white, 0.7)
      margin-bottom: 1em
      max-height: 325px
      +below(920px)
        max-height: 1000px
    > footer
      background-color: rgba(black, 0.75)
      padding: 1em 1.2em
      h3
        display: inline
        color: brand-color
        text-transform: uppercase
        font-size: 0.95em
      p
        display: inline
        font-size: 0.875em
        color: lighten(light-grey, 40%)
  > footer
    text-align: center
    font-size: 0.75em
    margin: 1em 0
    p 
      color: darken(stroke-grey, 65%)

ul.js-choose-color
  list-style-type: none
  padding: 0
  margin: 0
  text-align: center
  li
    display: inline-block
    border-radius: 30px
    transition: all 0ms ease
    position: relative
    a
      position: relative
      transition: all 100ms ease
      font-size: 2em
      display: block
      border-radius: 30px
      height: 28px
      width: 28px
      margin: 4px
      line-height: 9999px
      overflow: hidden
      //background-image: url('../img/gradient.png')
    &.selected
      a
        height: 36px
        width: 36px
        margin: 0
        position: relative
    &:last-child
      a
        margin-right: 0

.main-container, .header-container
  padding: 0 1em
p.footnote
  color: brand-color
  color: lighten(black, 30%)
  width: 75%
  min-width: 150px
  font-size: 0.75em
  font-weight: 400
  margin-top: 3em
  &:before, .ie-before
    content: '*'
    color: free
    font-size: 2em
    display: inline-block
    float: left
    margin-right: 0.1em
    margin-top: -0.125em

.product-image
  img
    width: 90%
    margin: 0 auto
    display: block

.note
  font-size: 0.8em

.your-price-only
  text-align: center
  p
    color: brand-color
    font-weight: bold
    font-size: 3em
    line-height: 0.5em
    margin: 0 0 0.5em 0

#payment-page form
  margin-top: 1.25em
  h2
    margin-bottom: 0
  label
    margin-top: 1.2em
  .button
    margin: 3em auto
#delivery-page form
  .button
    margin: 3em auto

#delivery-page .content-container > article
  min-height: 585px
  +below(800px)
    min-height: 0

.secured-payments
  font-size: 0.8em
  text-align: center
  margin-bottom: 1em
  img
    display: inline-block
    height: 20px
    margin-right: 1em
  h5
    display: inline-block
    top: -5px
    position: relative
    margin-right: 2em
  span
    min-width: 300px
    display: inline-block
    +below(600)
      min-width: 0

img.product
  float: right
  margin: -8em 1em 1em 2em
  max-width: 100%
  +below(600px)
    width: 80%
    margin: 0 auto

h1.headline
  font-size: 5.5em
  letter-spacing: -0.05em
  line-height: 1em
  margin-top: 0.25em
  width: 85%
  margin-bottom: 0.25em
  position: relative
  z-index: 100
  span
    white-space: nowrap
  b
    color: free
    text-transform: uppercase
  i
    color: brand-color
    font-style: normal


+below(600px)
  body
    font-size: 0.95em
  .enter-email
    border-top: 1px solid stroke-grey

  #delivery-page aside
    display: none
  .included-in-this-offer
    min-height: 145px

  .button
    width: 100%
    padding: 0.5em 0.2em !important

.cc-expiration-date 
  .chosen-search
    display: none !important
  > div
    padding-right: 0.25em !important
    &:last-child
      padding-right: 0 !important

.g-t-6
  +below(800px)
    padding-right: 1em !important
    &:last-child
      padding-right: 0 !important
  +below(600px)
    padding-right: 0 !important

.arrow-down
  display: none

.arrow-down2
  position: absolute
  right: 20px
  bottom: -10px
  z-index: 200
  +below(800px)
    display: none

.included-in-this-offer
  img
    display: none
  +below(600px)
    font-size: 0.85em
    position: relative
    overflow: hidden
    ul
      grid-space(50%)
    img
      display: block
      width: 150px
      position: absolute
      right: 10px
      top: 10px
  +below(400px)
    img
      display: none
    ul
      width: 98%

.your-price-only
  img
    display: none
  +below(600px)
    font-size: 0.85em
    h2
      text-align: left
      width: 45%
      float: left
      padding-right: 1em
      white-space: nowrap
    p
      text-align: right
      width: 50%
      float: right
      margin-top: 0.5em
  +below(400px)
    min-height: 0
    overflow: hidden
    img
      display: block
    h2
      display: block
      float: none
      position: relative
      z-index: 101
    p
      text-align: left
      float: none
      margin-top: -0.125em
      font-size: 2.75em
      position: relative
      z-index: 101
    img
      display: block
      width: 90px
      position: absolute
      right: 10px
      top: 10px
      z-index: 100
    

+below(800px)
  #front-page
    .headline
      width: 70%
      span:last-child
        display: block
        font-size: 1.5em
        line-height: 1em
    .footnote
      width: 100%
+below(600px)
  #front-page
    article
      .headline
        width: 60%
        padding: 0
        font-size: 3em
        z-index: 101
        position: relative
        span
          font-size: 1.5em
      img.product-image
        position: absolute
        bottom: -20px
        right: 20px
        width: 240px
        z-index: 100
      .arrow-down
        position: absolute
        right: 20px
        z-index: 120
        bottom: 6px
        display: block
    aside section
      padding: 1em 15%
  .product-image
    display: none
  form 
    input 
      font-size: 0.85em
    label
      margin-top: 0.5em !important
    .button
      margin: 2em auto !important
      font-size: 1.25em
    
+below(400px)
  #front-page
    article
      padding: 0 0.5em
      .headline
        width: 100%
        text-align: center
        padding: 0
        margin-bottom: 0
        font-size: 2.5em
        z-index: 101
        position: relative
        span
          font-size: 1.5em
      img.product-image
        position: static
        display: block
        margin: 0 auto
        float: none
    > aside
      margin-top: -20px
    aside section
      padding: 1em 

.arrow-container
  position: relative
  img
    position: absolute
    left: -140px
    top: -20px
    +below(600px)
      display: none

p.fineprint
  font-size: 0.75em
  color: lighten(black, 30%)
