doctype html
//[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]
//[if IE 7 ]> <html class="no-js ie7" lang="en"> <![endif]
//[if IE 8 ]> <html class="no-js ie8" lang="en"> <![endif]
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title brunch-static-skeleton
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='css/app.css')
    script(src='js/jquery.min.js')
    //[if lte IE 9]> <script src="js/media.match.min.js"></script> <![endif]
    //[if lte IE 8]> <script src="js/selectivizr.js"></script> <![endif]
    script(src='js/vendor.js')
    script(src='js/app.js')
    block head
  body
    //[if lt IE 7]> <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p> <![endif]

    .header-container
      header
        h1.logo
          a(href="#") 
            span Wippy.com
            img(src="img/logo-wippy.svg")

    .main-container

      block content

      footer
        p Wippy is owned by Flamingo Intervest and its payments are handled through Envi Payments Ltd. &copy; 2013 Wippy



