extends layout

block content
  section#payment-page
    .content-container
      article.g-d-8.g-t-7.g-m-12
        form(name="register", method="get")
          .paypec
            table
              tr
                td
                  img(src="img/logo-paypec.svg")
                td
                  p Online Payment Simplified
          h2 Enter your card details:
          p.note Your credit card will only be charged NZ$ 4.00. (Delivery Fee)
          .g-d-12
            .error-msg
              span Please fill out the highlighted fields
          .g-d-8.g-t-12
            label(for="cc-number") Credit Card Number
            input.error(name="cc-number", type="text")
            label(for="cc-name") Cardholder Name
            input(name="cc-name", type="text")
          .g-d-4.g-t-12
            .g-d-12.g-t-6.g-m-12
              label(for="cc-control-number") Control Number
              .cvc-container
                input(name="cc-control-number", type="text")
                a.cvc-help(href="#")
                  img(src="img/cvc-guide.svg")
            .g-d-12.g-t-6.g-m-12
              label(for="cc-expiration-date") Expiration Date
              div(name="cc-expiration-date", class="cc-expiration-date")
                .g-d-5
                  select.js-chosen(name="cc-expiration-date-month")
                    option(value="1") 1
                    option(value="2") 2
                .g-d-7
                  select.js-chosen(name="cc-expiration-date-year")
                    option(value="2017") 2017
                    option(value="2018") 2018
          .g-d-12
            label.checkbox-in-label
              input(type="checkbox")
              span I am above 18 years old and I accept Wippy's <a href="#">Terms and Conditions</a> including subscription <a href="#">Terms</a> and allow Wippy to send me emails.
            input.button(type="submit", value="Claim My Prize!")

            .secured-payments
              h5 Secured payments with
              span
                img(src="img/payment-icons/verified-by-visa.svg")
                img(src="img/payment-icons/mastercard-securecode.svg")
                img(src="img/payment-icons/mastercard.svg")
                img(src="img/payment-icons/visa.svg")
                img(src="img/payment-icons/geotrust.svg")
            p.fineprint Included with this payment is a 1-day free Gold Membership. The normal monthly fee of $ 49.99 is charged 1 day after this purchase. The promotional gift item is only applicable if a minimum of one month membership fee is paid.
      aside.g-d-4.g-t-5.g-m-12
        section.included-in-this-offer
          h2 Included in this offer:
          ul.ul-circle
            li Free iPod Shuffle 2GB
            li Postal and handling fee for your welcome gift
        section.your-price-only
          h2 Your Price Only
          p NZ$4.00
        section.product-image
          img(src="img/ipod.png")
    footer.g-d-100
      h3 What is Wippy? 
      p It is an entertainment shopping website that provides shoppers an opportunity to purchase high end items for as low as 5% of its actual retail price! Shoppers simply buy the right to bid on items and win auctions at the lowest prices anywhere!

